# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/*.code-workspace
*.iml
.metadata
.copilot/

# OS
.DS_Store
Thumbs.db
node_modules

# Azure / local env
.azure/
.env
.env.*
